.text-end {
    text-align: end;
}
.paper-shadow {
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.2), 0px 4px 7px 0px rgba(0,0,0,0.14), 0px 1px 0px 0px rgba(0,0,0,0.12);
}
.card-container {
    position: relative;
    padding: 24px 10px 8px 9px;
}
.card-header {
    display: flex;
    align-items: center;
}
.card-header h4 {
    display: inline;
    margin-left: 9px;
    font-weight: 500;
}
.plan-creation-date {
    text-align: end;
    color: #6B6B6B;
    font-size: 13px;
    padding: 12px 6px 0px 0px;
}
.edit-button-container {
    position: absolute;
    top: 17px;
    right: 4%;
}
.edit-button-container svg {
    font-size: 20px;
}
.adaptation-plan-save-btn {
    position: relative;
    height: 30px;
    margin-top: 20px;
}
.adaptation-plan-save-btn button {
    float: right;
}