.task-container {
    position: relative;
    padding-left: 40px;
}
.task-icon-block {
    float: right;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 35%;
}
.task-icon-block span {
    padding: 0;
}
.task-arrow-icon {
    position: absolute;
    left: 8px;
    top: 22px;
    color: #ABABAB;
}
.task-date {
    color: #6B6B6B;
    display: inline-flex;
    font-size: 14px;
    padding-top: 4px;
}
.task-description {
    color: #ABABAB;
    font-size: 13px;
}

.unfold .task-arrow-icon {
    transform: rotate(90deg);
}